<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType application/javascript  "access plus 1 year"
ExpiresByType text/javascript  "access plus 1 year"
ExpiresByType text/css  "access plus 1 year"
ExpiresByType image/gif  "access plus 1 year"
ExpiresByType image/jpeg  "access plus 1 year"
ExpiresByType image/png  "access plus 1 year"
</IfModule>